<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Adulam Store</title>

<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Poppins"
	rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Material+Icons"
	rel="stylesheet">
<link rel="stylesheet" th:href="@{/css2/bootstrap.min.css}" />
<link rel="stylesheet" th:href="@{/css2/slick.css}" />
<link rel="stylesheet" th:href="@{/css2/slick-theme.css}" />
<link rel="stylesheet" th:href="@{/css2/nouislider.min.css}" />
<link rel="stylesheet" th:href="@{/css2/font-awesome.min.css}">
<link rel="stylesheet" th:href="@{/css2/style.css}" />
<link rel="icon" href="https://i.imgur.com/zWVUxBY.png">
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>




</head>
<body>
	<header>
		<div id="top-header" th:if="${cliente != null}">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i>+57 3132274023</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i>
							tecnosistemasadulam@email.com</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> CC Gran
							Bulevar L-120</a></li>
				</ul>
				<ul class="header-links pull-right">
					<li style="color: white">Bienvenido - <span
						style="color: white" th:text="${cliente}"></span></li>



					<a th:href="@{/adulamstore/logout}" style="color: white">

						<button style="color: white; color: #3F979B">Cerrar
							Sesión</button>

					</a>
				</ul>
			</div>
		</div>
		<div id="top-header" th:if="${cliente == null}">
			<div class="container">
				<ul class="header-links pull-left">
					<li><a href="#"><i class="fa fa-phone"></i>+57 3132274023</a></li>
					<li><a href="#"><i class="fa fa-envelope-o"></i>
							tecnosistemasadulam@email.com</a></li>
					<li><a href="#"><i class="fa fa-map-marker"></i> CC Gran
							Bulevar L-120</a></li>
				</ul>
				<ul class="header-links pull-right">
					<li><a th:href="@{/adulamstore/login}"><i
							class="fa fa-user-o"></i>Mi cuenta</a></li>
				</ul>
			</div>
		</div>

		<div id="header">
			<div class="container">
				<div class="row">
					<div class="col-md-3">
						<div class="header-logo">

							<a href="/adulamstore/list"> <img
								th:src="@{https://i.imgur.com/aAJ2EQF.png}"
								style="width: 120px; height: 120px">

							</a>
						</div>
					</div>
					<div class="col-md-6">
						<div class="header-search">
							<form>
								<select class="input-select" type="number">
									<form th:each="cat: ${categoria}" action="#">
										<option th:value="${cat.id}" th:text="${cat.nombre}">Categorías</option>
									</form>
								</select> <input class="input" name="nombre" placeholder="Digite aquí">
								<button type="button" class="search-btn">Buscar</button>
							</form>
						</div>
					</div>
					<div class="col-md-3 clearfix">
						<div class="header-ctn">

							<a th:href="@{/detallefactura/borrar}" style="color: white">Volver
								a la tienda</a>

							<div class="dropdown">
								<a class="dropdown-toggle" data-toggle="dropdown"
									aria-expanded="true"> <i class="fa fa-shopping-cart"></i> <span>Carrito</span>
									<div class="quantity">0</div>
								</a>
								<div class="cart-dropdown">
									<div class="cart-list"></div>
									<div class="cart-summary">
										<h5 class="subtotal">SUBTOTAL: $0</h5>
									</div>
									<div class="cart-btns">
										<a href="#" id="vaciar">Vaciar Carrito</a> <a href="#"
											id="pagar">Pagar <i class="fa fa-arrow-circle-right"></i></a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<button id="activar" style="display: none"></button>
	<div class="detalleProductos">
		<table class="table table-striped table-hover" id="tablax">
			<thead>
				<tr>
					<th>Producto</th>
					<th>Nombre</th>
					<th>Cantidad</th>
					<th>Precio</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
			</tbody>
		</table>
	</div>

	<div class="totalPagar">
		<h5 class="total"></h5>
	</div>


	<div class="buttonAction">
		<button type="button" class="btn btn-success" id="irpagar"
			onclick="pagar()">Pagar (0)</button>
	</div>


	<script type="text/javascript">
		function pagar() {

			Swal.fire({

				title : 'Información',
				text : '¡Su compra se ha realizado con exito!',
				icon : 'success',
				confirmButtonText : 'ver factura',
				widht : '100rem',

			}

			)
		}
	</script>


	
	<!-- GENERAR RECIBO -->

	<script src="https://unpkg.com/jspdf-invoice-template@1.4.0/dist/index.js"></script>

	<script>
		function generar() {
			
			var pdfObject = jsPDFInvoiceTemplate.default(props);
			
			console.log("recibo creado", pdfObject);

		}
		
		
		var props = {
				
				outputType: jsPDFInvoiceTemplate.OutputType.Save,
			    returnJsPDFDocObject: true,
			    fileName: "AdulamStore-Factura",
			    orientationLandscape: false,
			    compress: true,
			    logo: {
			        src: "https://i.imgur.com/aAJ2EQF.png",
			        type: 'PNG', //optional, when src= data:uri (nodejs case)
			        width: 26.33, //aspect ratio = width/height
			        height: 26.66,
			        margin: {
			            top: 0, //negative or positive num, from the current position
			            left: 0 //negative or positive num, from the current position
			        }
			    },
			    stamp: {
			        inAllPages: true, //by default = false, just in the last page
			        src: "https://i.imgur.com/aAJ2EQF.png",
			        type: 'JPG', //optional, when src= data:uri (nodejs case)
			        width: 40, //aspect ratio = width/height
			        height: 40,
			        margin: {
			            top: 0, //negative or positive num, from the current position
			            left: 0 //negative or positive num, from the current position
			        }
			    },
			    business: {
			        name: "AdulamStore", 
			        address: "Gran Bulevar L-120",
			        phone: "+57 3132274023",
			        email: "tecnosistemasadulam@email.com",
			  
			    },
			    contact: {
			        label: "Factura emitida por:",
			        name: "Juan David Contreras Pabón",
			        address: "",
			        phone: "",
			        email: "",
			        otherInfo: "",
			    },
			    invoice: {
			        label: "Número de factura: ",
			        num: 19,
			        invDate: "Fecha de Pago: 01/01/2021 18:12",
			        invGenDate: "Fecha de factura: 02/02/2021 10:17",
			        headerBorder: false,
			        tableBodyBorder: false,
			        header: [
			          {
			            title: "#", 
			            style: { 
			              width: 10 
			            } 
			          }, 
			          { 
			            title: "Título",
			            style: {
			              width: 30
			            } 
			          }, 
			          { 
			            title: "Descripción",
			            style: {
			              width: 80
			            } 
			          }, 
			          { title: "Precio"},
			          { title: "Cantidad"},
			          { title: "Unidad"},
			          { title: "Total"}
			        ],
			        table: Array.from(Array(10), (item, index)=>([
			            index + 1,
			            "There are many variations ",
			            "Lorem Ipsum is simply dummy text dummy text ",
			            200.5,
			            4.5,
			            "m2",
			            400.5
			        ])),
			        additionalRows: [{
			            col1: 'Total:',
			            col2: '145,250.50',
			            col3: 'ALL',
			            style: {
			                fontSize: 14 //optional, default 12
			            }
			        },
			        {
			            col1: 'VAT:',
			            col2: '20',
			            col3: '%',
			            style: {
			                fontSize: 10 //optional, default 12
			            }
			        },
			        {
			            col1: 'SubTotal:',
			            col2: '116,199.90',
			            col3: 'ALL',
			            style: {
			                fontSize: 10 //optional, default 12
			            }
			        }],
			        invDescLabel: "Invoice Note",
			        invDesc: "There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary.",
			    },
			    footer: {
			        text: "The invoice is created on a computer and is valid without the signature and stamp.",
			    },
			    pageEnable: true,
			    pageLabel: "Page ",
			};
				
				 
			
	</script>

	
	
  
	<!-- jQuery Plugins -->
	<script th:src="@{/js2/cart.js}"></script>

	<script th:src="@{/js2/jquery.min.js}"></script>

	<script th:src="@{/js2/bootstrap.min.js}"></script>

	<script th:src="@{/js2/slick.min.js}"></script>

	<script th:src="@{/js2/nouislider.min.js}"></script>

	<script th:src="@{/js2/jquery.zoom.min.js}"></script>

	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>



</body>
</html>