<!DOCTYPE html>
<html lang="en"	xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
       <title>Adulam Store</title>
	   <link rel="stylesheet" th:href="@{/css/custom.css}">
   	   <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
      <link href="https://fonts.googleapis.com/css2?family=Poppins" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet">
  </head>
  <body>
<div class="wrapper">
	  <div class="body-overlay"></div>
	 	<div id="sidebar">
	    <div class="sidebar-header">
	 	   <form th:each="adm: ${admin}" action="#">
		   	<h3><span>Adulam Store</span><br><span th:text="${adm.nombre}"></span></h3>
		   </form>
		</div>
		<ul class="list-unstyled component m-0">
		  <li class="active">
		  <a th:href="@{/producto/list}" class="dashboard"><i class="material-icons">inventory_2</i>Productos</a>
		  </li>
		  
		  <li class="dropdown">
		  <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false" 
		  class="dropdown-toggle">
		  <i class="material-icons">payments</i>Administración
		  </a>
		  <ul class="collapse list-unstyled menu" id="homeSubmenu1">
			 <li><a href="#"><i class="material-icons">receipt_long</i>Informes</a></li>
		  </ul>
		  </li>
		  <li class="dropdown">
		  <a href="#homeSubmenu6" data-toggle="collapse" aria-expanded="false" 
		  class="dropdown-toggle">
		  <i class="material-icons">groups</i>Clientes
		  </a>
		  <ul class="collapse list-unstyled menu" id="homeSubmenu6">
		     <li><a th:href="@{/factura/list}"><i class="material-icons">paid</i>Compras</a></li>
			 <li><a href="#"><i class="material-icons">local_shipping</i>Domicilios</a></li>
		  </ul>
		  </li>
		  <li class="dropdown">
		  <a href="#homeSubmenu7" class="list-unstyled component m-0">
		  <i class="material-icons">content_copy</i>PQRS
		  </a>
		  </li>		
		</ul>
	 </div>
   
      <div id="content">
		  <div class="top-navbar">
		     <div class="xd-topbar">
			     <div class="row">
				     <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
					    <div class="xp-menubar">
						    <span class="material-icons text-white">signal_cellular_alt</span>
						</div>
					 </div>
					 
					 <div class="col-md-5 col-lg-3 order-3 order-md-2">
					     <div class="xp-searchbar">
						     <form>
							    <div class="input-group">
								  <input type="search" class="form-control"
								  placeholder="Search">
								  <div class="input-group-append">
								     <button class="btn" type="submit" id="button-addon2">Go
									 </button>
								  </div>
								</div>
							 </form>
						 </div>
					 </div>
					 
					 
					 <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
					     <div class="xp-profilebar text-right">
						    <nav class="navbar p-0">
							   <ul class="nav navbar-nav flex-row ml-auto">
							   <li class="dropdown nav-item">
							     <a class="nav-link" href="#" data-toggle="dropdown">
								  <i class="material-icons">power_settings_new</i>
								  <span class="xp-user-live"></span>
								 </a>
								  <ul class="dropdown-menu small-menu">
									 <li><a href="/admin/logout">
									 <span class="material-icons">logout</span>
									 Logout
									 </a></li>
								  </ul>
							   </li>
							   </ul>
							</nav>
						 </div>
					 </div>
					 
				 </div>
				 <div class="xp-breadcrumbbar text-center">
				    <span class="page-title" >ADULAM STORE</span>
				 </div>
				 <div class="alert alert-success alert-dismissible fade show" role="alert" th:if="${accion != null }">
					<label th:text="${accion}"></label>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    						<span aria-hidden="true">&times;</span>
						</button>
				 </div>
			 </div>
		  </div>
		     
		      <div class="main-content">
			     <div class="row">
				    <div class="col-md-12">
					   <div class="table-wrapper">
					     
					   <div class="table-title">
					     <div class="row">
						     <div class="col-sm-6 p-0 flex justify-content-lg-start justify-content-center">
							    <h2 class="ml-lg-2">Gestionar productos</h2>
							 </div>
							 <div class="col-sm-6 p-0 flex justify-content-lg-end justify-content-center">
							   <a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal">
							   <i class="material-icons">&#xE147;</i>
							   <span>Agregar producto</span>
							   </a>
							 </div>
					     </div>
					   </div>
					   
					   <table class="table table-striped table-hover" id="tablax">
					      <thead>
						     <tr>
							 <th>#Pqrs</th>
							 <th>Nombre</th>
							 <th>Teléfono</th>
							 <th>Email</th>
							 <th>Asunto</th>
							 <th>Mensaje</th>
							 <th>Fecha Creación</th>
							 </tr>
						  </thead>
						  
						  <tbody th:each="pqrs: ${pqrs}">
						     <tr>
							 <td th:text="${pqrs.id}"></td>
							 <td th:text="${pqrs.nombre}"></td>
							 <td th:text="${pqrs.telefono}"></td>
							 <td th:text="${pqrs.email}"></td>
							 <td th:text="${pqrs.asunto}"></td>
							 <td th:text="${pqrs.mensaje}"></td>
							 <td th:text="${pqrs.fechacreacion}" style="font-size:12px"></td>
							 </tr>
						  </tbody>
					   </table>
					   
					   <div class="clearfix">
					   </div>
					   
					   </div>
					</div>
		<form th:action="@{/producto/save}" method="post">			
		<div class="modal fade" tabindex="-1" id="addEmployeeModal" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar producto</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <div class="form-group">
		    <label>Referencia</label>
			<input name="ref" type="text" placeholder="Referencia" class="form-control" required>
		</div>
        <div class="form-group">
		    <label>Marca</label>
			<input name="marca" type="text" placeholder="Marca" class="form-control" required>
		</div>
		<div class="form-group">
		    <label>Precio</label>
			<input name="precio" type="number" placeholder="Precio" class="form-control" required>
		</div>
		<div class="form-group">
		    <label>Nombre</label>
			<input name="nombre" type="text" placeholder="Descripcion" class="form-control" required></input>
		</div>
		<div class="form-group">
		    <label>Cantidad</label>
			<input type="number" name="cantidad" placeholder="Cantidad" class="form-control" required>
		</div>
		<div class="form-group">
		    <label>Categoría</label>
		    <select class="input-select" type="number" name="id_categoria">
		    <form th:each="cat: ${categoria}">
				<option th:value="${cat.id}" th:text="${cat.nombre}"></option>
			</form>
			</select>
		</div>
		<div class="form-group">
		    <label>URL imagen</label>
			<input type="text" name="imagen" placeholder="URL imagen" class="form-control" required>
		</div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-success">Agregar</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
</form>
		
</div>
</div>
			 <footer id="footer" style="position:relative;margin-top:10%;bottom:0;width:100%">
				<div class="container">
						<div class="col-md-12 text-center">
							<span class="copyright" style="color:white">
								 Adulam Store © 2022     ||     Todos los derechos reservados
							</span>
						</div>
				</div>
		</footer>
	  </div>
</div>

   <script th:src="@{/js/jquery-3.3.1.slim.min.js}"></script>
   <script th:src="@{/js/popper.min.js}"></script>
   <script th:src="@{/js/bootstrap.min.js}"></script>
   <script th:src="@{/js/jquery-3.3.1.min.js}"></script>
   
  <script type="text/javascript" th:inline="javascript">
       $(document).ready(function(){
	      $(".xp-menubar").on('click',function(){
		    $("#sidebar").toggleClass('active');
			$("#content").toggleClass('active');
		  });
		  
		  $('.xp-menubar,.body-overlay').on('click',function(){
		     $("#sidebar,.body-overlay").toggleClass('show-nav');
		  });
		  
	   });
  </script>
  </body>
  </html>